<form action="/articles/create" method="post">
    <input type="text" class="form-control" name="title">
    <textarea type="text" class="form-control" rows="3" name="content"></textarea>
    <button type="submit">Submit</button>
    <a href="/articles">Back</a>
</form>